{{ define "title" }}Nova anotação{{end}}

{{ define "main" }}
<h1>Nova anotação</h1>
<p>Formulário de criação de uma nova anotação...</p>
<form action="/note/create" method="post">
    <label for="title"> Titulo</label>
    <input type="text" name="title">
    <label for="content">Conteudo</label>
    <textarea name="content" col="30" rows="10"></textarea>
    <label for="cor">Cor</label>
    <input id="color" type="hidden" name="color" value="{{.Color}}">
    <div class="color-picker">
        {{$color := .Color}}
        {{range .Colors}}
            <div data-color="{{.}}" class="color {{.}} {{if eq . $color}}active{{end}}"></div>
        {{end}}
    </div>
    <div class="buttons">
        <button class="success" type="submit">Salvar</button>
        <button class="neutral" type="button">Cancelar</button>
    </div>
</form>
{{ end }}

{{define "script"}}
<script>
    $(".color").click(function(){
        
        $(".color").removeClass("active")
        $(this).addClass("active")
        $("#color").val($(this).data("color"))
    })
    $("button.neutral").click(function(){
        window.location.href = "/"
    })

</script>
{{end}}