{{ define "title" }}Nova anotação{{end}}

{{ define "main" }}
<h1>Nova anotação</h1>
<p>Formulário de criação de uma nova anotação...</p>
<form action="/note/create" method="post">
    <label for="title"> Titulo</label>
    <input type="text" name="title">
    <label for="content">Conteudo</label>
    <textarea name="content" col="30" rows="10"></textarea>
    <label for="cor">Cor</label>
    <input type="text" name="color">
    <button type="submit">Salvar</button>
    <button type="submit">Cancelar</button>

</form>
{{ end }}